.textFontFamily{
    font-family: 'League Spartan', sans-serif;
}

/* <---------- FIRST THEME COLOR ----------> */

.header{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
}

.h1Title{
    align-self: flex-end;
    font-size: 1.8em;
    text-transform: lowercase;
}

.themeSectionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    position: relative;
}

.themeText{
    align-self: flex-end;
    font-size: .6em;
    margin-right: 2em;
    text-transform: uppercase;
}

.switchOptions__numbers{
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    width: 3.5rem;
    padding: 0 .5em;
    margin-bottom: .5em;
}







.switchOptions__switch__backgorund{
    width: 3.5em;
    height: 1.4em;
    border-radius: 1em;
    position: relative;
    cursor: pointer;
}

.switchOptions__switch__backgorund__circle{
    width: .7em;
    height: .7em;
    border-radius: 50%;
    position: absolute;
    top: .4em;
    left: .1em;
}