.textFontFamily{
    font-family: 'League Spartan', sans-serif;
}

/* <---------- HEADER ----------> */

.header{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.h1Title{
    align-self: flex-end;
    font-size: 1.8em;
    text-transform: lowercase;
}

.themeSectionContainer{
    display: flex;
    align-items: center;
    position: relative;
}

.themeText{
    align-self: flex-end;
    font-size: .8em;
    margin-right: 2em;
    text-transform: uppercase;
}

.switchOptions__numbers{
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    width: 3.5rem;
    padding: 0 .5em;
    margin-left: .3em;
    margin-bottom: .5em;
}

.switchOptions__switch__backgorund{
    width: 4em;
    height: 1.4em;
    border-radius: 1em;
    position: relative;
    cursor: pointer;
}

.switchOptions__switch__backgorund__circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: .2em;
    left: .3em;
}

/* <---------- MAIN ----------> */

.main{
    margin: 0 1.5em;
}

/* <-- DISPLAY --> */

.displayContainer{
    width: 100%;
    height: 80px;
    border-radius: .5em;
    margin-bottom: 2em;
}

.displayContainer__display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

/* <-- KEYPAD--> */

.keypadContainer{
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 3.5em);
    grid-gap: 1em;
    padding: 1.5em;
}

.key{
    padding-top: .2em;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.keyresetAndDelText{
    font-size: 1.2rem;
}

.resetKey{
    grid-column: 1 / 3;
}

.equalKey{
    grid-column: 3 / 5;
}

.textUpperCase{
    text-transform: uppercase;
}

.fontSizeEqualKey{
    font-size: 1.2rem;
}

/* <---------- FOOTER ----------> */




