/* <---------- ROOT ----------> */

:root{

/* <---------- FIRST THEME COLOR ----------> */
    --bg-main-first-theme: hsl(222, 26%, 31%);
    --text-white: hsl(0, 0%, 100%);
    --toggleAndKeypad-bg-first-theme: hsl(223, 31%, 20%);
    --toggleAndEqual-first-theme: hsl(6, 63%, 50%);
    --screen-bg-first-theme: hsl(224, 36%, 15%);
    --key-bg-first-theme: hsl(30, 25%, 89%);
    --key-shadow-first-theme: hsl(28, 16%, 65%);
    --resetAndderKey-bg-first-theme: hsl(225, 21%, 49%);
    --resetAndderKey-shadow-first-theme: hsl(224, 28%, 35%);
    --equalKey-bg-first-theme: hsl(6, 63%, 50%);
    --equalKey-shadow-first-theme: hsl(6, 70%, 34%);
    --numbers-text-first-theme: hsl(221, 14%, 31%);

/* <---------- SECOND THEME COLOR ----------> */

    --bg-main-second-theme: hsl(0, 0%, 90%);
    --text-dark-gray: hsl(60, 10%, 19%);
    --toggleAndKeypad-bg-second-theme: hsl(0, 5%, 81%);
    --screen-bg-second-theme: hsl(0, 0%, 93%);
    --resetAndderKey-bg-second-theme: hsl(185, 42%, 37%);
    --resetAndderKey-shadow-second-theme: hsl(185, 58%, 25%);
    --equalKey-bg-second-theme: hsl(25, 98%, 40%);
    --equalKey-shadow-second-theme: hsl(25, 99%, 27%);
    --key-bg-second-theme: hsl(45, 7%, 89%);
    --key-shadow-second-theme: hsl(35, 11%, 61%);


/* <---------- THIRD THEME COLOR ----------> */

    --bg-main-third-theme: hsl(268, 75%, 9%);
    --text-light-gray: hsl(52, 100%, 62%);
    --toggleAndKeypad-bg-third-theme: hsl(268, 71%, 12%);
    --screen-bg-third-theme: hsl(268, 71%, 12%);
    --resetAndderKey-bg-third-theme: hsl(281, 89%, 26%);
    --resetAndderKey-shadow-third-theme: hsl(285, 91%, 52%);
    --equalKey-bg-third-theme: hsl(176, 100%, 44%);
    --equalKey-shadow-third-theme: hsl(177, 92%, 70%);
    --key-bg-third-theme: hsl(268, 47%, 21%);
    --key-shadow-third-theme: hsl(290, 70%, 36%);

}

/* <---------- FIRST THEME COLOR ----------> */

.firstBgTheme{
    background-color: var(--bg-main-first-theme);
}

.textColorWhite{
    color: var(--text-white);
}

.toggleAndKeypad-bg-first-theme{
    background-color: var(--toggleAndKeypad-bg-first-theme);
}

.toggleAndEqual-first-theme{
    background-color: var(--toggleAndEqual-first-theme);
}

.screen-bg-first-theme{
    background-color: var(--screen-bg-first-theme);
}

.key-bg-first-theme{
    background-color: var(--key-bg-first-theme);
}

.key-shadow-first-theme{
    box-shadow: 0 5px 0 0 var(--key-shadow-first-theme);
}

.resetAndderKey-bg-first-theme{
    background-color: var(--resetAndderKey-bg-first-theme);
}

.resetAndderKey-shadow-first-theme{
    box-shadow: 0 5px 0 0 var(--resetAndderKey-shadow-first-theme);
}

.equalKey-bg-first-theme{
    background-color: var(--equalKey-bg-first-theme);
}

.equalKey-shadow-first-theme{
    box-shadow: 0 5px 0 0 var(--equalKey-shadow-first-theme);
}

.numbers-text-first-theme{
    color: var(--numbers-text-first-theme);
}


/* <---------- SECOND THEME COLOR ----------> */

.secondBgTheme{
    background-color: var(--bg-main-second-theme);
}

.textColorDarkGray{
    color: var(--text-dark-gray);
}

.toggleAndKeypad-bg-second-theme{
    background-color: var(--toggleAndKeypad-bg-second-theme);
}

.screen-bg-second-theme{
    background-color: var(--screen-bg-second-theme);
}

.resetAndderKey-bg-second-theme{
    background-color: var(--resetAndderKey-bg-second-theme);
}

.resetAndderKey-shadow-second-theme{
    box-shadow: 0 5px 0 0 var(--resetAndderKey-shadow-second-theme);
}

.equalKey-bg-second-theme{
    background-color: var(--equalKey-bg-second-theme);
}

.equalKey-shadow-second-theme{
    box-shadow: 0 5px 0 0 var(--equalKey-shadow-second-theme);
}

.key-bg-second-theme{
    background-color: var(--key-bg-second-theme);
}

.key-shadow-second-theme{
    box-shadow: 0 5px 0 0 var(--key-shadow-second-theme);
}
/* <---------- THIRD THEME COLOR ----------> */

.thirdBgTheme{
    background-color: var(--bg-main-third-theme);
}

.textColorLightGray{
    color: var(--text-light-gray);
}

.toggleAndKeypad-bg-third-theme{
    background-color: var(--toggleAndKeypad-bg-third-theme);
}

.screen-bg-third-theme{
    background-color: var(--screen-bg-third-theme);
}

.resetAndderKey-bg-third-theme{
    background-color: var(--resetAndderKey-bg-third-theme);
}

.resetAndderKey-shadow-third-theme{
    box-shadow: 0 5px 0 0 var(--resetAndderKey-shadow-third-theme);
}

.equalKey-bg-third-theme{
    background-color: var(--equalKey-bg-third-theme);
}

.equalKey-shadow-third-theme{
    box-shadow: 0 5px 0 0 var(--equalKey-shadow-third-theme);
}

.key-bg-third-theme{
    background-color: var(--key-bg-third-theme);
}

.key-shadow-third-theme{
    box-shadow: 0 5px 0 0 var(--key-shadow-third-theme);
}


